body {
  margin: 0;
  padding: 0px 0px 10px 0px;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

.wikiWrap {
  margin: 12px 0px 12px 0px;
}

.wikiCard:link,
.wikiCard:visited {
  text-align: left;
  background-color: #337ab7;
  color: White;
  border: 1px solid #204d74;
  border-radius: 6px;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 100%;
}

.wikiCard:hover,
.wikiCard:active {
  text-align: left;
  background-color: #286090;
  color: white;
}

.calcBtn {
  width: 50px;
  height: 50px;
  margin: 2px;
  border: 1px solid black;
  border-radius: 0;
  background-color: white;
  color: black;
}

.clearBtn {
  width: 212px;
  margin: 2px;
  border: 1px solid black;
  border-radius: 0;
  background-color: white;
  color: black;
}

.calcDisplay {
  font-size: 20px;
  margin: 2px 2px 5px 2px;
}

.clearBtn:hover,
.calcBtn:hover {
  background-color: black;
  color: white;
}